<mat-card class="user-card-width inline user-card-margin pointer user-card">
    <button mat-icon-button class="cara-position-right user-menu" [matMenuTriggerFor]="userActionMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userActionMenu="matMenu">
        <button mat-menu-item (click)="showChangePasswordModal()">
            <mat-icon>vpn_key</mat-icon>
            <span>Change Password</span>
        </button>
        <button mat-menu-item (click)="unsubscribe()" *ngIf="!user.unsubscribed">
            <mat-icon>block</mat-icon>
            <span>Unsubscribe</span>
        </button>
        <button mat-menu-item (click)="subscribe()" *ngIf="user.unsubscribed">
            <mat-icon>turned_in</mat-icon>
            <span>Subscribe</span>
        </button>
        <button mat-menu-item (click)="assignAdminStatus(!user.admin)">
            <mat-icon>supervised_user_circle</mat-icon>
            <span *ngIf="user.admin">Mark as non-admin</span>
            <span *ngIf="!user.admin">Mark as admin</span>
        </button>
    </mat-menu>

    <mat-card-header class="user-container-padding cara-text-bold">
        {{ user.first_name }} {{ user.last_name }}
    </mat-card-header>
    <mat-card-subtitle class="username-container cara-text-italic">@{{ user.username }}</mat-card-subtitle>
    <mat-card-actions class="user-action-section">
        <mat-chip-list *ngIf="user.unsubscribed" class="inline chip-margin">
            <mat-chip class="cara-error">Unsubscribed</mat-chip>
        </mat-chip-list>
        <mat-chip-list *ngIf="!user.unsubscribed" class="inline chip-margin">
            <mat-chip class="cara-success">Subscribed</mat-chip>
        </mat-chip-list>
        <mat-chip-list *ngIf="user.admin" class="inline chip-margin">
            <mat-chip class="cara-admin">Admin</mat-chip>
        </mat-chip-list>
    </mat-card-actions>
</mat-card>
