<mat-card class="card-width card-alignment card-margin">
    <div (click)="showMemberProfile()" class="pointer">
        <mat-card-header>
            <mat-card-title>{{member.name}}</mat-card-title>
            <mat-card-subtitle>
                {{ member.age }} Years
                <span class="icon-holder">
                <mat-icon>person_pin</mat-icon>
                <span>{{member.place}}</span>
            </span>
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="profile-picture-container" src="{{ member.photo_url || defaultCardImageURL }}" alt="{{ member.name }}">
    </div>
    <mat-card-actions>
        <div class="telephone-container">
            <mat-icon>phone</mat-icon>
            <div *ngFor="let number of member.phone_numbers">
                <a href="tel:{{ number.value }}">{{ number.value }}</a>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="social-contact-wrapper">
            <cara-social-badge [link]="contact.value" [siteName]="contact.name" *ngFor="let contact of member.contacts"></cara-social-badge>
        </div>
    </mat-card-actions>
</mat-card>
