<div mat-dialog-title>
    <span>{{ member.name }}</span>
    <span class="cara-spacer"></span>
    <button mat-icon-button class="cara-position-right" [matMenuTriggerFor]="memberActionMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #memberActionMenu="matMenu">
        <button mat-menu-item (click)="openEditMemberModal()">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteMember()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
        <button mat-menu-item (click)="closeMemberProfileModal()">
            <mat-icon>stop</mat-icon>
            <span>Close</span>
        </button>
    </mat-menu>
</div>
<div mat-dialog-content>
    <img mat-card-image src="{{ member.photo_url || defaultImage }}">
    <mat-card class="member-profile-info-card">
        <mat-card-title>Personal Info</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="info-container">
            <div>Age: {{ member.age }}</div>
            <div>Place: {{ member.place }}</div>
        </mat-card-content>
    </mat-card>
    <mat-card class="member-profile-info-card">
        <mat-card-title>Contact Info</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="info-container">
            <div *ngFor="let number of member.phone_numbers">
                <mat-icon>phone</mat-icon>&nbsp;
                <a href="tel:{{ number.value }}" class="no-decoration">{{ number.value }}</a>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="member-profile-info-card">
        <mat-card-title>Social Info</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="info-container">
            <cara-social-contacts [link]="contact.value" [siteName]="contact.name" *ngFor="let contact of member.contacts"></cara-social-contacts>
        </mat-card-content>
    </mat-card>
</div>
