<div class="group-header-wrapper">
    <h2 class="cara-section-header">{{ group.name }}</h2>
    <span class="cara-text-italic">{{ group.description }}</span>
</div>
<mat-divider></mat-divider>
<div class="group-header-wrapper">
    <h3 class="cara-text-bold"> Assign Member </h3>
</div>
<mat-card>
    <mat-form-field class="full-width">
        <input matInput tabindex="-1" placeholder="Member" aria-label="Member" [matAutocomplete]="auto" [formControl]="assignMemberControl" (keyup.enter)="addMemberToGroup()" >
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let member of filteredMembers | async; index as serialNumber"
                        [value]="member.id">
                <span>{{ serialNumber + 1 }}. </span>
                <span>{{ member.name }}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</mat-card>
<div class="group-member-list" *ngIf="isMemberPresent()">
    <div class="group-header-wrapper">
        <h3 class="cara-text-bold"> Assigned Members </h3>
    </div>
    <mat-list class="group-member-list-container">
        <mat-list-item class="member-list-card" *ngFor="let member of group.members">
            <span matLine>{{ member.name }}</span>
            <mat-icon>delete</mat-icon>
        </mat-list-item>
    </mat-list>
</div>
