$blue-gray-600:     #546E7A;
$orange-700:        #F57C00;
$gray-300:          #E0E0E0;

$red-300:           #E57373;

$teal-400:          #26A69A;
$teal-900:          #004D40;

$white:             #FFFFFF;

$light-blue-900:    #01579B;
